@*Copyright © 2016 Softel vdm, Inc. - http://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageSkin<YetaWF.Core.Serializers.SerializableList<SkinDefinition>>
@using YetaWF.Core.Skins
<div id='@DivId' class='yt_moduleskins t_edit'>
    @{
        int index = 0;
        SkinAccess skinAccess = new SkinAccess();
    }
    @foreach (SkinCollectionInfo skinDef in (from s in skinAccess.GetAllSkinCollections() orderby s.CollectionDescription select s).ToList()) {
        <div class="t_collection">
            @Html.RenderExtLabel(skinDef.CollectionDescription, ToolTip: skinDef.CollectionDescription)
            @Html.Hidden(string.Format("[{0}].Popup", index), true)
            @Html.Hidden(string.Format("[{0}].Collection", index), skinDef.CollectionName)
            @Html.RenderModuleSkinsForCollection(string.Format("[{0}].Skin", index), Model, skinDef.CollectionName)
            @Html.ValidationMessage(string.Format("[{0}].Skin", index))
        </div>
        index++;
    }
</div>