@*Copyright © 2018 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.PageSkin<YetaWF.Core.Skins.SkinDefinition>
@using YetaWF.Core.Support
@{ Manager.AddOnManager.AddTemplateAsync("PageSkin").Wait(); } @*same js as pageskin template*@
<div id='@ControlId' class='yt_popupskin t_edit'>
    @Html.RenderHidden("AjaxUrl", YetaWFManager.UrlFor(typeof(YetaWF.Core.Controllers.Shared.SkinHelperController), "GetPopupPageSkins"))
    <div class="t_collection">
        @Html.ExtLabelFor(m => Model.Collection)
        @Html.RenderSkinCollectionAsync("Collection", Model.Collection).Result
    </div>
    <div class="t_skin">
        @Html.ExtLabelFor(m => Model.FileName)
        @Html.RenderPopupSkinsForCollectionAsync("FileName", Model.FileName, Model.Collection).Result
    </div>
</div>
    <script>
    @using (DocumentReady(ControlId)) {
        @: YetaWF_Template_PageSkin.popupInit('@ControlId');
    }
</script>