@*Copyright © 2017 Softel vdm, Inc. - https://yetawf.com/Documentation/YetaWF/Licensing*@
@inherits YetaWF.Core.Views.Shared.Url<System.String>
@using YetaWF.Core.Views
@{
    UrlHelperEx.UrlTypeEnum type = Html.GetControlInfo<UrlHelperEx.UrlTypeEnum>("", "UrlType", UrlHelperEx.UrlTypeEnum.Remote);
}
<div id="@ControlId" class="yt_url t_edit" data-name="@Html.FieldName("")">
    @Html.RenderHidden("", Model, HtmlAttributes: new { data_val="true", }, Validation: true)
    @Html.RenderUrlSel("_Select", type, HtmlAttributes: new { @class = "t_select" })
    @if ((type & UrlHelperEx.UrlTypeEnum.Local) != 0) {
        <div class="t_local">
            @Html.RenderUrlDD("_Local", Model)
        </div>
    }
    @if ((type & UrlHelperEx.UrlTypeEnum.Remote) != 0) {
        <div class="t_remote">
            @Html.RenderTextBox("_Remote", Model, HtmlAttributes: new { @class = "yt_text_base t_edit" })
        </div>
    }
    <div class="t_link">
        @Html.RenderUrlLinkAndImage(Model)
    </div>
</div>
<script>
    @using (DocumentReady()) {
        @: YetaWF_Url.init('@ControlId');
    }
</script>
